@{
    ViewData["Title"] = "Login";
}

<div class="card shadow fit-screen grid place-items-center">
    <div class="grid grid-cols-2 w-4/6 gap-10">
        <div class="col-span-1 h-[450px] rounded-xl overflow-hidden">
            <img src="~/assets/image/banner.png" alt="indogrosir" class="img-cover" />
        </div>
        <div class="col-span-1 pl-10 my-auto">
            <form id="login" action="#" class="space-y-4">
                <h1>Login</h1>
                <label for="email">
                    <span>Email</span>
                    <input type="email" id="email" name="email" placeholder="Masukkan Email" class="form-input" required />
                </label>
                <label for="password">
                    <span>Password</span>
                    <input type="password" id="password" name="password" placeholder="Masukkan Password" class="form-input" required />
                </label>
                <button type="submit" class="w-full btn-primary">Masuk</button>
                <div class="row gap-1 text-gray-600">
                    Ingin bermitra bersama kami?
                    <a asp-area="" asp-controller="Auth" asp-action="Signup" class="text-blue-500 hover:underline underline-offset-1">Daftar Sekarang!</a>
                </div>
            </form>
        </div>
    </div>
</div>