@model indogrosir_tim8.Models.Mitra

@{
    ViewData["Title"] = "Sign Up";
}

<div class="card shadow fit-screen grid place-items-center">
    <div class="grid grid-cols-2 w-4/6 gap-10">
        <div class="col-span-1 h-[450px] rounded-xl overflow-hidden">
            <img src="~/assets/image/banner.png" alt="indogrosir" class="img-cover" />
        </div>
        <div class="col-span-1 pl-10">
            <form asp-controller="Auth" asp-action="Registrasi" id="signup" class="space-y-4">
                <div asp-validation-summary="ModelOnly" class="warning"></div>
                <h1>Sign Up</h1>
                <label asp-for="Nama">
                    <span>Nama Usaha</span>
                    <input asp-for="Nama" placeholder="Masukkan Nama Usaha" class="form-input" required />
                    <span asp-validation-for="Nama" class="warning"></span>
                </label>
                <label asp-for="Alamat">
                    <span>Lokasi Usaha</span>
                    <input asp-for="Alamat" placeholder="Masukkan Lokasi Usaha" class="form-input" required />
                    <span asp-validation-for="Alamat" class="warning"></span>
                </label>
                <label asp-for="Cabang">
                    <span>Cabang Indogrosir</span>
                    <select asp-for="Cabang" placeholder="Pilih wilayah cabang" class="form-input" required>
                        <option value="Pekanbaru">Pekanbaru</option>
                        <option value="Bandung">Bandung</option>
                        <option value="Banjarmasin">Banjarmasin</option>
                        <option value="Kendari">Kendari</option>
                        <option value="Ambon">Ambon</option>
                    </select>
                    <span asp-validation-for="Cabang" class="warning"></span>
                </label>
                <label asp-for="Email">
                    <span>Email</span>
                    <input asp-for="Email" placeholder="Masukkan Email" class="form-input" required />
                    <span asp-validation-for="Email" class="warning"></span>
                </label>
                <label asp-for="Password">
                    <span>Password</span>
                    <input asp-for="Password" placeholder="Masukkan Password" class="form-input" required />
                    <span asp-validation-for="Password" class="warning"></span>
                </label>
                <button type="submit" class="w-full btn-primary">Daftar</button>
                <div class="row gap-1 text-gray-600">
                    Sudah menjadi mitra?
                    <a asp-area="" asp-controller="Auth" asp-action="Index" class="text-blue-500 hover:underline underline-offset-1">Masuk</a>
                </div>
            </form>
        </div>
    </div>
</div>

@if (TempData["Message"] != null)
{
    <script type="text/javascript">
        window.onload = function ()
            {
                alert('@TempData["Message"]');
            };
    </script>
}