<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light" />
    <meta name="theme-color" content="#EFEFEF">
    <meta name="author" content="hibatillah, MiftahulH23">
    <meta name="description" content="Indogrosir's website & Supply Chain Management System for Indogrosir Partners">
    <meta name="keywords" content="Enterprise, Framework, ASPNet, MVC, SCM, Redesign">
    <meta name="copyright" content="Team 8 - 3SIC">
    <meta name="og:title" content="Indogrosir">
    <meta name="og:description" content="Website & SCM System for Indogrosir Partners">
    <meta name="og:image" content="/assets/image/banner.png">
    <meta name="og:url" content="https://indogrosir.co.id">
    <meta name='og:site_name' content='Indogrosir'>
    <meta name="og:type" content="website">
    <meta name="og:locale" content="id_ID">
    <meta name="og:locale:alternate" content="en_US">
    <link rel="icon" href="logo.ico?v=2" />
    <title>@ViewData["Title"] - Indogrosir</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/indogrosir_tim8.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" asp-append-version="true" />
</head>
<body>
    <header class="px-8 py-2 rounded-xl bg-white shadow flex justify-between">
        <a asp-area="" asp-controller="Home" asp-action="Index">
            <img src="assets/image/logo.png" class="h-10 pointer-events-none" alt="logo indogrosir" />
        </a>
        <nav class="flex gap-x-3 items-center text-gray-400">
            <a class="p-2 row gap-2 hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="bi bi-grid-fill"></i>
                <span>Beranda</span>
            </a>
            <a class="p-2 row gap-2 hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Berita">
                <i class="bi bi-bookmarks"></i>
                <span>Berita</span>
            </a>
            <a class="p-2 row gap-2 hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Lokasi">
                <i class="bi bi-geo-alt"></i>
                <span>Lokasi</span>
            </a>
            <a class="p-2 row gap-2 hover:text-blue-500" asp-area="" asp-controller="Tentang" asp-action="Index">
                <i class="bi bi-building"></i>
                <span>Tentang</span>
                <i class="bi bi-carret-down-fill"></i>
            </a>
            <a class="p-2 row gap-2 hover:text-blue-500" asp-area="" asp-controller="Auth" asp-action="Index">
                <i class="bi bi-person-circle"></i>
                <span>Login</span>
            </a>
        </nav>
    </header>

    <main class="space-y-4 fit-screen">
        @RenderBody()
    </main>

    <footer class="px-20 py-8 h-80 rounded-2xl bg-white shadow grid grid-cols-2 gap-4">
        <div class="h-full flex flex-col justify-between">
            <div>
                <img src="assets/image/logo.png" class="h-10 pointer-events-none" alt="logo indogrosir" />
                <p class="mt-2 mb-5 text-gray-900">PT. Inti Cakrawala Citra</p>
                <p class="text-gray-500">
                    Menara Indomaret <br />
                    Jl. Pantai Indah Kapuk Blvd No.1 <br />
                    Pantai Indah Kapuk, Jakarta 14470
                </p>
            </div>
            <p class="text-gray-800">
                &copy; 2023 Team 8 - 3SIC
            </p>
        </div>
        <div class="flex flex-col justify-between items-end">
            <div class="flex gap-20">
                <ul class="space-y-2 text-gray-500">
                    <li>
                        <h4>Menu</h4>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Index">
                            Beranda
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Berita">
                            Berita
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Home" asp-action="Lokasi">
                            Lokasi
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Tentang" asp-action="Index">
                            Tentang
                        </a>
                    </li>
                </ul>
                <ul class="space-y-2 text-gray-500">
                    <li>
                        <h4>Tentang</h4>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Tentang" asp-action="Sejarah">
                            Sejarah
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Tentang" asp-action="Index">
                            Produk Bisnis
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Tentang" asp-action="Hubungi">
                            Hubungi Kami
                        </a>
                    </li>
                </ul>
                <ul class="space-y-2 text-gray-500">
                    <li>
                        <h4>Mitra</h4>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Auth" asp-action="Index">
                            Masuk
                        </a>
                    </li>
                    <li>
                        <a class="hover:text-blue-500" asp-area="" asp-controller="Auth" asp-action="Signup">
                            Daftar
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="flex gap-4">
                <li>
                    <a href="tel:0761564641" target="_blank">
                        <i class="bi bi-telephone-fill text-gray-800 hover:text-blue-500"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/officialindogrosir/" target="_blank">
                        <i class="bi bi-instagram text-gray-800 hover:text-blue-500"></i>
                    </a>
                </li>
                <li>
                    <a href="https://m.facebook.com/officialindogrosir/" target="_blank">
                        <i class="bi bi-facebook text-gray-800 hover:text-blue-500"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/officialigr" target="_blank">
                        <i class="bi bi-twitter-x text-gray-800 hover:text-blue-500"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
