@model indogrosir_tim8.Models.Produk

@{
    ViewData["Title"] = "Detail Produk";
}

<div class="card fit-screen">
    <div class="row justify-between">
        <h1>Detail Produk</h1>
        <div class="row gap-2">
            <a asp-action="Index" class="btn-secondary">
                <i class="bi bi-arrow-left"></i>
                Kembali
            </a>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn-primary">
                <i class="bi bi-pencil-fill"></i>
                Edit
            </a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn bg-red-500">
                <i class="bi bi-trash-fill"></i>
                Hapus
            </a>
        </div>
    </div>
    <div class="flex gap-10 mt-8">
        <div class="flex-none w-96 h-100 bg-gray-200 rounded-lg border">
            <img src="@ViewData["ImagePath"]" class="img-cover" />
        </div>
        <div class="flex-auto h-fit flex flex-wrap gap-6">
            <label asp-for="Nama">
                <span>Nama</span>
                <input asp-for="Nama" class="form-input capitalize" readonly />
            </label>
            <label asp-for="Kategori">
                <span>Kategori</span>
                <input asp-for="Kategori" class="form-input capitalize" readonly />
            </label>
            <label asp-for="Harga">
                <span>Harga</span>
                <input asp-for="Harga" class="form-input" readonly />
            </label>
            <label asp-for="Jumlah">
                <span>Jumlah</span>
                <input asp-for="Jumlah" class="form-input" readonly />
            </label>
            <label asp-for="Minimum">
                <span>Minimum</span>
                <input asp-for="Minimum" class="form-input" readonly />
            </label>
        </div>
    </div>
</div>
