@model indogrosir_tim8.Models.Produk

@{
    ViewData["Title"] = "Edit Produk";
}

<div class="card fit-screen">
    <div class="row justify-between">
        <h1>Edit Produk</h1>
        <div class="row gap-2">
            <a asp-action="Details" asp-route-id="@Model?.Id" class="btn-secondary">
                <i class="bi bi-arrow-left"></i>
                Kembali
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-10 mt-8">
        <form asp-action="Edit" class="flex-auto h-fit flex flex-wrap gap-6">
            <div asp-validation-summary="ModelOnly" class="warning"></div>
            <input type="hidden" asp-for="Id" />
            <label asp-for="Nama">
                <span>Nama</span>
                <input asp-for="Nama" placeholder="Masukkan nama produk" class="form-input capitalize" />
                <span asp-validation-for="Nama" class="warning"></span>
            </label>
            <label asp-for="Kategori">
                <span>Kategori</span>
                <input asp-for="Kategori" class="form-input capitalize" placeholder="Masukkan kategori produk" />
                <span asp-validation-for="Kategori" class="warning"></span>
            </label>
            <label asp-for="Harga">
                <span>Harga</span>
                <input asp-for="Harga" class="form-input" placeholder="Masukkan harga produk" />
                <span asp-validation-for="Harga" class="warning"></span>
            </label>
            <label asp-for="Jumlah">
                <span>Jumlah</span>
                <input asp-for="Jumlah" class="form-input" placeholder="Masukkan jumlah stok tersedia" />
                <span asp-validation-for="Jumlah" class="warning"></span>
            </label>
            <label asp-for="Minimum">
                <span>Minimum</span>
                <input asp-for="Minimum" class="form-input" placeholder="Masukkan jumlah minimum stok" />
                <span asp-validation-for="Minimum" class="warning"></span>
            </label>
            <div class="self-end">
                <input type="submit" value="Edit Data Produk" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}