@model indogrosir_tim8.Models.Mitra

@{
    ViewData["Title"] = "Hapus Mitra";
}

<div class="card fit-screen">
    <div class="row justify-between">
        <h1 class="text-2xl">Anda yakin ingin menghapus Mitra ini?</h1>
        <div class="row gap-2">
            <a asp-action="Details" asp-route-id="@Model?.Id" class="btn-secondary">
                <i class="bi bi-arrow-left"></i>
                Kembali
            </a>
        </div>
    </div>
    <div class="flex gap-10 mt-8">
        <div class="flex-none w-96 h-100 bg-gray-200 rounded-lg border"></div>
        <div class="flex-auto h-fit flex flex-wrap gap-6">
            <label asp-for="Nama">
                <span>Nama Mitra</span>
                <input asp-for="Nama" class="form-input capitalize" readonly />
            </label>
            <label asp-for="Alamat">
                <span>Alamat</span>
                <input asp-for="Alamat" class="form-input capitalize" readonly />
            </label>
            <label asp-for="TahunBerdiri">
                <span>Tahun Berdiri</span>
                <input asp-for="TahunBerdiri" class="form-input" readonly />
            </label>
            <label asp-for="GabungMember">
                <span>Member Sejak</span>
                <input asp-for="GabungMember" class="form-input" readonly />
            </label>
            <label asp-for="Admin">
                <span>Admin</span>
                <input asp-for="Admin" class="form-input" readonly />
            </label>
            <label asp-for="Email">
                <span>Email</span>
                <input asp-for="Email" class="form-input" readonly />
            </label>
            <form asp-action="Delete" class="self-end">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Hapus Mitra" class="btn-danger" />
            </form>
        </div>
    </div>
</div>
