@model indogrosir_tim8.Models.Mitra

@{
    ViewData["Title"] = "Edit Mitra";
}

<div class="card fit-screen">
    <div class="row justify-between">
        <h1>Edit Mitra</h1>
        <div class="row gap-2">
            <a asp-action="Details" asp-route-id="@Model?.Id" class="btn-secondary">
                <i class="bi bi-arrow-left"></i>
                Kembali
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-10 mt-8">
        <form asp-action="Edit" class="flex-auto h-fit flex flex-wrap gap-6">
            <div asp-validation-summary="ModelOnly" class="warning"></div>
            <input type="hidden" asp-for="Id" />
            <label asp-for="Nama">
                <span>Nama</span>
                <input asp-for="Nama" class="form-input capitalize" placeholder="Masukkan nama mitra" />
                <span asp-validation-for="Nama" class="warning"></span>
            </label>
            <label asp-for="Alamat">
                <span>Alamat</span>
                <input asp-for="Alamat" class="form-input capitalize" placeholder="Masukkan alamat mitra" />
                <span asp-validation-for="Alamat" class="warning"></span>
            </label>
            <label asp-for="Cabang">
                <span>Cabang</span>
                <input asp-for="Cabang" class="form-input" placeholder="Masukkan cabang" />
                <span asp-validation-for="Cabang" class="warning"></span>
            </label>
            <label asp-for="TahunBerdiri">
                <span>Tahun Berdiri</span>
                <input asp-for="TahunBerdiri" class="form-input" placeholder="Masukkan tahun berdiri mitra" />
                <span asp-validation-for="TahunBerdiri" class="warning"></span>
            </label>
            <label asp-for="GabungMember">
                <span>Member Sejak</span>
                <input asp-for="GabungMember" class="form-input" placeholder="Masukkan tanggal bergabung" />
                <span asp-validation-for="GabungMember" class="warning"></span>
            </label>
            <label asp-for="Admin">
                <span>Admin</span>
                <input asp-for="Admin" class="form-input" placeholder="Masukkan admin" />
                <span asp-validation-for="Admin" class="warning"></span>
            </label>
            <label asp-for="Email">
                <span>Email</span>
                <input asp-for="Email" class="form-input" placeholder="Masukkan email" />
                <span asp-validation-for="Email" class="warning"></span>
            </label>
            <label asp-for="Password">
                <span>Password</span>
                <input asp-for="Password" class="form-input" placeholder="Masukkan password" />
                <span asp-validation-for="Password" class="warning"></span>
            </label>
            <div class="self-end">
                <input type="submit" value="Edit Data Mitra" class="btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}