@{
    ViewData["Title"] = "Pesanan";
}

<div class="card fit-screen overflow-hidden">
    <div class="row justify-between">
        <h1>Transaksi</h1>
        <search>
            <form id="search" action="#" class="row bg-gray-100 pl-3 rounded-md gap-1">
                <i class="bi bi-search text-gray-400"></i>
                <input type="search" id="search" name="search" placeholder="Cari mitra..." class="form-input focus:outline-none" />
                <button type="submit" class="btn-primary">Cari</button>
            </form>
        </search>
    </div>
</div>