@{
    ViewData["Title"] = "Berita";
}

<div class="card fit-screen">
    <h1 class="mb-8 text-center">Berita Indogrosir</h1>
    <div class="grid grid-cols-3 2xl:grid-cols-4 gap-8">
        @*1*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita1.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Grand Opening Indogrosir Cikokol</h2>
            <p class="text-gray-500">14 Desember 2021</p>
        </div>
        @*2*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita2.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Anda Ingin Punya Usaha?</h2>
            <p class="text-gray-500">21 Juni 2021</p>
        </div>
        @*3*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita3.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Informasi Terkait IGR</h2>
            <p class="text-gray-500">22 November 2021</p>
        </div>
        @*4*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita4.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Grand Opening Indogrosir Malang</h2>
            <p class="text-gray-500">26 April 2021</p>
        </div>
        @*5*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita5.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Grand Opening Indogrosir Bandar Lampung</h2>
            <p class="text-gray-500">26 April 2021</p>
        </div>
        @*6*@
        <div class="card-berita">
            <div class="img-berita">
                <img src="~/assets/image/berita6.png" class="img-cover" />
            </div>
            <h2 class="mb-1">Grand Opening Indogrosir Karawang</h2>
            <p class="text-gray-500">22 November 2021</p>
        </div>
    </div>
</div>