@{
    ViewData["Title"] = "Produk Bisnis";
}

<div class="card shadow  fit-screen">
    <h1 class="text-center mb-8">Produk Bisnis</h1>
    @*1*@
    <div class="grid grid-cols-2 gap-5">
        <div class="bg-gray-100 rounded-lg p-10">
            <div class="flex gap-5 items-center">
                <div class="overflow-hidden w-28 h-12 rounded-lg">
                    <img src="~/assets/image/logo.png" class="img-contain" alt="retail indogrosir" />
                </div>
                <h3>Retail Indogrosir</h3>
            </div>
            <p class="text-gray-500 mt-5">Indogrosir adalah toko retail yang tersebar di kota-kota besar di Indonesia, yang menyediakan barang dagangan untuk para UMKM atau Pedagang eceran seperti warung, toko kelontong, minimarket dan juga menyediakan barang untuk kebutuhan sehari-hari bagi semua masyarakat umum (End user), untuk saat ini ada sekitar 28 gerai dengan lokasi strategis yang tersebar di seluruh Indonesia.</p>
        </div>
        <div class="bg-gray-100 rounded-lg p-10">
            <div class="flex gap-5 items-center">
                <div class="overflow-hidden w-28 h-16 rounded-lg">
                    <img src="~/assets/image/klikindogrosir.png" alt="klik indogrosir" class="img-contain" />
                </div>
                <h2>Klik Indogrosir</h2>
            </div>
            <p class="text-gray-500 mt-5">Klikindogrosir merupakan toko online yang merupakan solusi dari Indogrosir dimana menyediakan berbagai macam produk dalam satu situs untuk memenuhi kebutuhan para member. Saat ini ada sekitar 5.500 Produk yang di jual  dan 7.000 orang yang sudah mendaftar sebagai member.</p>
        </div>
    </div>
    @*2*@
    <div class="bg-gray-100 rounded-lg p-10 mt-5">
        <div class="flex gap-5 items-center">
            <div class="overflow-hidden w-28 h-16 rounded-lg">
                <img src="~/assets/image/igr.png" alt="igr indogrosir" class="img-contain" />
            </div>
            <h3>IGR Indogrosir</h3>
        </div>
        <p class="text-gray-500 mt-5">IGR Adalah Aplikasi PPOB (Payment Point Online Bank) yang ditawarkan kepada para mitra UMKM dalam menambah peghasilan saat menjalankan usaha retailnya, dimana aplikasi tersebut bisa digunakan untuk transaksi pembelian pulsa dan paket data, token listrik serta pembayaran tagihan PDAM/BPJS/Belanja Online/Pendidikan/Asuransi/Angsuran Kredit/TV Kabel/Public Utilty dan Tiket Transportasi.</p>
    </div>
    @*3*@
    <div class="grid grid-cols-2 gap-5 mt-5">
        <div class="bg-gray-100 rounded-lg p-10">
            <div class="flex gap-5 items-center">
                <div class="overflow-hidden w-28 h-[70px] rounded-lg">
                    <img src="~/assets/image/tmi.png" alt="tmi indogrosir" class="img-contain" />
                </div>
                <h3>Toko Mitra Indogrosir</h3>
            </div>
            <p class="text-gray-500 mt-5">Toko Mitra Indogrosir (TMI) adalah program pendampingan yang dilakukan Indogrosir kepada calon wirausaha dalam bentuk toko/warung modern dengan sistem yang lebih modern, produk pilihan dengan harga bersaing,dan dibantu oleh tim project dari Indogrosir yang sudah berpengalaman di bidang retail dengan nilai investasi yang relatif terjangkau.</p>
        </div>
        <div class="bg-gray-100 rounded-lg p-10">
            <div class="flex gap-5 items-center">
                <div class="overflow-hidden w-28 h-16 rounded-lg">
                    <img src="~/assets/image/omi.png" alt="omi indogrosir" class="img-contain" />
                </div>
                <h2>OMI Indogrosir</h2>
            </div>
            <p class="text-gray-500 mt-5">OMI merupakan minimarket modern dalam bentuk waralaba (kemitraan) yang ditujukan kepada masyarakat (koperasi,badan usaha, perorangan dan member). Sistem kemitraan dirancang sederhana,ekonomis serta jaminan pasokan barang dagangan, sehingga diharpkan akan mampu berkembang dalam persaingan yang semakin kompetitif.</p>
        </div>
    </div>
</div>