@{
    ViewData["Title"] = "Beranda";
}


    @*Banner*@
    <div class="relative h-100 rounded-2xl shadow bg-white overflow-hidden grid grid-cols-2">
        <div class="col-span-1 flex flex-col justify-center items-start h-full pl-32 pr-12">
            <h1 class="text-6xl font-bold">Indogrosir</h1>
            <p class="mt-3 mb-12 text-xl text-gray-500">
                “Menjadi jalur distribusi guna melahirkan dan mengembangkan para wirausaha di bidang retail”
            </p>
            <div class="row gap-3">
                <a class="btn-primary text-white" asp-area="" asp-controller="Tentang" asp-action="Sejarah">
                    Tentang Kami
                </a>
                <a class="btn-secondary text-gray-800" asp-area="" asp-controller="Auth" asp-action="Signup">
                    Mitra Indogrosir
                </a>
            </div>
        </div>
        <img src="~/assets/image/banner.png" class="col-span-1 h-full select-none pointer-events-none" alt="Indogrosir" />
        <span class="absolute top-0 right-0 bottom-0 w-1/2 bg-gradient-to-r from-white" />
    </div>

    @*Card*@
   <div class="h-52 shadow rounded-2xl grid grid-cols-4">
        <div class="rounded-l-lg bg-blue-500 flex gap-4 items-center justify-center p-10">
            <div class="">
                <img src="assets/image/market.png" alt="market"/>
            </div>
            <div class="text-center text-white">
                <p class="font-bold text-4xl mb-1">28</p>
                <p class="font-semibold">Lokasi Gerai Tersebar di Seluruh Indonesia</p>
            </div>
        </div>
        <div class="bg-red-400 flex gap-4 p-10 items-center justify-center">
            <div>
                <img src="assets/image/ecommerce.png" alt="ecommerce"/>
            </div>
            <div class="text-center text-white">
                <p class="font-bold text-4xl mb-1">600</p>
                <p class="font-semibold">Jumlah Supplier dan Distributor</p>
            </div>
        </div>
        <div class="bg-blue-500 flex gap-4 p-10 items-center justify-center">
            <div>
                <img src="assets/image/box.png" alt="box" />
            </div>
            <div class="text-center text-white">
                <p class="font-bold text-4xl mb-1">6.000</p>
                <p class="font-semibold">Items Meliputi Produk Food dan Perishable</p>
            </div>
        </div>
        <div class="rounded-r-lg bg-red-400 flex gap-4 p-10 items-center justify-center">
            <div>
                <img src="assets/image/people.png" alt="people" />
            </div>
            <div class="text-center text-white">
                <p class="font-bold text-4xl mb-1">160K</p>
                <p class="font-semibold">Mitra UMKM Bekerja Sama dengan Indogosir</p>
            </div>
        </div>
    </div>

    @* Produk Baru *@
    <div class="card shadow">
        <h1 class="text-center mb-10 font-bold">Produk Baru</h1>
        <div class="grid grid-cols-4 gap-6">
            @*1*@
            <div class="col-span-2 row-span-2 rounded-xl border overflow-hidden">
                <img src="assets/image/nuugreentea.png" class="img-cover" alt="nuugreentea" />
            </div>
            @*2*@
            <div class="rounded-xl border overflow-hidden">
                <img src="assets/image/silverqueen.png" class="img-cover" alt="silverqueen" />
            </div>
            @*3*@
            <div class="rounded-xl border overflow-hidden">
                <img src="assets/image/oatside.png" class="img-cover" alt="oatside" />
            </div>
            @*4*@
            <div class="col-start-3 rounded-xl border overflow-hidden">
                <img src="assets/image/milo.png" class="img-cover" alt="milo" />
            </div>
            @*5*@
            <div class="rounded-xl border overflow-hidden">
                <img src="assets/image/ichitan.png" class="img-cover"alt="ichitan" />
            </div>
        </div>

        @*Promo*@
        <div class="relative mt-6 h-100 rounded-2xl border shadow bg-[#FFFAEA] overflow-hidden grid grid-cols-2">
            <div class="col-span-1 flex flex-col justify-center items-start h-full pl-32">
                <h2 class="text-3xl text-blue-500">Promo Akhir Bulan</h2>
                <p class="text-gray-500 text-lg">Diskon hingga</p>
                <h1 class="text-9xl text-red-600">70%</h1>
                <p class="text-xl text-gray-900 mt-4 font-medium">Berlaku untuk semua bahan baku, hingga akhir bulan!</p>
            </div>
            <img src="~/assets/image/bahan.png" class="col-span-1 w-full h-100 object-cover select-none pointer-events-none" alt="promo indogrosir" />
            <span class="absolute top-0 right-0 bottom-0 w-1/2 bg-gradient-to-r from-[#FFFAEA]" />
        </div>
    </div>

    @*Produk Bisnis*@
    <div class="card shadow">
        <h1 class="text-center mb-6">Produk Bisnis</h1>
        <div class="grid grid-cols-3 gap-4">
            @*1*@
            <div class="card-produk-bisnis">
                <div class="overflow-hidden w-2/5 mb-4">
                    <img src="assets/image/logo.png" class="img-contain" alt="indogrosir" />
                </div>
                <p class="text-center w-3/4">Retail Indogrosir adalah toko retail yang tersebar di kota-kota besar di Indonesia</p>
            </div>
            @*2*@
            <div class="card-produk-bisnis">
                <div class="overflow-hidden w-2/5 mb-4">
                    <img src="assets/image/omi.png" class="img-contain" alt="omi indogrosir" />
                </div>
                <p class="text-center w-3/4">Omi adalah Minimarket modern dalam bentuk  kemitraan yang ditujukan kepada masyarakat.</p>
            </div>
            @*3*@
            <div class="col-start-3 row-span-2 card-produk-bisnis h-[450px]">
                <div class="overflow-hidden w-2/5 mb-2">
                    <img src="assets/image/tmi.png" class="img-contain" alt="tmi indogrosir" />
                </div>
                <p class="text-center w-3/4">Toko Mitra Indogrosir (TMI) adalah program pendampingan yang dilakukan Indogrosir kepada calon wirausaha dalam bentuk toko/warung modern dengan sistem yang lebih modernp>
            </div>
            @*4*@
            <div class="card-produk-bisnis">
                <div class="overflow-hidden w-2/5 mb-4">
                    <img src="assets/image/logo.png" class="img-contain" alt="retail indogrosir" />
                </div>
                <p class="text-center w-3/4">IGR adalah Retail Indogrosir adalah toko retail yang tersebar di kota-kota besar di Indonesia</p>
            </div>
            @*5*@
            <div class="card-produk-bisnis">
                <div class="overflow-hidden w-2/5 mb-4">
                    <img src="assets/image/logo.png" class="img-contain" alt="klik indogrosir" />
                </div>
                <p class="text-center w-3/4">Klik Indogorisr merupakan toko online yang merupakan solusi dari Indogrosir</p>
            </div>
        </div>
    </div>
