@{
    ViewData["Title"] = "Profile";
}

<div class="fit-screen flex gap-4 overflow-hidden">
    <div class="w-1/4 px-10 py-16 space-y-8 bg-white rounded-2xl shadow">
        <div class="space-y-3 w-full flex flex-col items-center">
            <div class="w-40 h-40 rounded-full border relative bg-gray-200">
                <img src="~/assets/image/2003.png" alt="profil mitra" class="w-40 aspect-square rounded-full object-cover" />
                <span class="absolute right-1 bottom-1 w-9 aspect-square grid place-items-center bg-gray-200 rounded-full text-gray-600 border cursor-pointer">
                    <i class="bi bi-pencil"></i>
                </span>
            </div>
            <h2 class="text-2xl font-semibold">Ucup Mart</h2>
        </div>
        <div class="space-y-2">
            <div class="row justify-between">
                <p class="text-gray-900 text-medium">Wilayah</p>
                <p class="text-gray-500">Pekanbaru</p>
            </div>
            <div class="row justify-between">
                <p class="text-gray-900 text-medium">Member Sejak</p>
                <p class="text-gray-500">19 Juli 2021</p>
            </div>
        </div>
        <button type="button" id="editProfil" data-edit="unactive" class="btn-primary w-full rounded-full">
            <i class="bi bi-pencil-square"></i>
            <span>Edit Profil</span>
        </button>
    </div>
    <div class="flex-auto card">
        <h1>Profil Mitra</h1>
        <form id="profil" action="#" class="mt-8 grid grid-cols-3 gap-5">
            <label for="nama">
                <span>Nama Mitra</span>
                <input type="text" id="nama" name="nama" placeholder="Masukkan Nama Mitra" class="form-input" required readonly />
            </label>
            <label for="alamat">
                <span>Alamat Mitra</span>
                <input type="text" id="alamat" name="alamat" placeholder="Masukkan Alamat Mitra" class="form-input" required readonly />
            </label>
            <label for="tahunBerdiri">
                <span>Tahun Berdiri</span>
                <input type="datetime" id="tahunBerdiri" name="tahunBerdiri" placeholder="Masukkan Tahun Berdiri" class="form-input" required readonly />
            </label>
            <label for="cabang">
                <span>Wilayah Cabang</span>
                <input type="text" id="cabang" name="cabang" placeholder="Masukkan Wilayah Cabang" class="form-input" required readonly />
            </label>
            <label for="member">
                <span>Member Sejak</span>
                <input type="datetime" id="member" name="member" placeholder="Masukkan Tanggal Member" class="form-input" required readonly />
            </label>
            <label for="admin">
                <span>Admin</span>
                <input type="text" id="admin" name="admin" placeholder="Masukkan Nama Admin" class="form-input" required readonly />
            </label>
            <label for="email">
                <span>Email</span>
                <input type="email" id="email" name="email" placeholder="Masukkan Email" class="form-input" required readonly />
            </label>
            <label for="password">
                <span>Password</span>
                <input type="password" id="password" name="password" placeholder="Masukkan Password" class="form-input" required readonly />
            </label>
            <button type="submit" class="btn-primary w-full h-fit self-end hidden">Ubah Data</button>
        </form>
    </div>
</div>

<script>
    const btnEdit = document.querySelector('button#editProfil')
    const btnForm = document.querySelector('form#profil button')
    const inputForm = document.querySelectorAll('form#profil input')

    btnEdit.addEventListener('click', () => {
        if (btnEdit.getAttribute('data-edit') == 'unactive') {
            btnForm.classList.remove('hidden')
            btnEdit.setAttribute('data-edit', 'active')
            inputForm.forEach((input) => {
                input.setAttribute('readonly', 'false')
            })
        } else {
            btnForm.classList.add('hidden')
            btnEdit.setAttribute('data-edit', 'unactive')
        }
    })
</script>