@{
    ViewData["Title"] = "Sejarah";
}

<div class="card shadow fit-screen">
    <h1 class="mb-12">Sejarah Indogrosir</h1>
    <ul>
        <li class="flex-1 flex gap-16 mb-5">
            <div class="relative hidden lg:block flex-none pr-12 w-48">
                <p class="text-end">
                    Tahun 1993
                </p>
                <span class="absolute top-2 -right-px w-2.5 h-2.5 rounded-full bg-main-900 border border-main-400 z-10 bg-red-400" />
                <span class="absolute top-3 right-[3px] w-0.5 lg:h-52 bg-main-500 z-0 bg-blue-500" />
            </div>
            <div class="flex flex-col gap-4 md:flex-auto md:flex-row md:justify-end md:items-center md:gap-6 lg:flex-auto lg:gap-8 group">
                <div class="w-80 h-44 rounded-lg border-2 overflow-hidden">
                    <img src="~/assets/image/1993.png" class="img-cover" />
                </div>
                <div class="md:w-2/3 2xl:w-2/3">
                    <div class="my-1 flex gap-1.5 items-start md:items-center">
                        <h2 class="md:line-clamp-1">Awal Berdiri Indogrosir</h2>
                    </div>
                    <p class="text-justify text-gray-500">
                        Indogrosir pertama kali didirikan di Cipinang tahun 1993. Sejak saat itu, Indogrosir telah menjadi solusi bagi UMKM/pedagang eceran (retail) dalam memperioleh barang dagangan dengan mudah, hemat waktu dan biaya, sehingga dapat meningkatkan keuntungan serta daya saing atas barang yang mereka jual. Saat ini Indogrosir telah memiliki 27 gerai yang tersebar di kota-kota besar di Indonesia.
                    </p>
                </div>
            </div>
            </>
        </li>
        <li class="flex-1 flex gap-16 mb-5">
            <div class="relative hidden lg:block flex-none pr-12 w-48">
                <p class="text-end">
                    Tahun 2003
                </p>
                <span class="absolute top-2 -right-px w-2.5 h-2.5 rounded-full bg-main-900 border border-main-400 z-10 bg-red-400" />
                <span class="absolute top-3 right-[3px] w-0.5 lg:h-52 bg-main-500 z-0 bg-blue-500" />
            </div>
            <div class="flex flex-col gap-4 md:flex-auto md:flex-row md:justify-end md:items-center md:gap-6 lg:flex-auto lg:gap-8 group">
                <div class="w-80 h-44 rounded-lg border-2 overflow-hidden">
                    <img src="~/assets/image/2003.png" class="img-cover" />
                </div>
                <div class="md:w-2/3 2xl:w-2/3">
                    <div class="my-1 flex gap-1.5 items-start md:items-center">
                        <h2 class="md:line-clamp-1">Launching OMI</h2>
                    </div>
                    <p class="text-justify text-gray-500">
                        Dengan motto Mitra Usaha Terpercaya, pada tahun 2003 Indogrosir membuka peluang bagi masyarakat luas (perorangan, usaha kecil menengah, koperasi, serta institusi) untuk menjadi mitra dalam bisnis retail dengan nama OMI (Outlet Mitra Indogrosir) hingga saat ini sudah terdapat 636 toko mitra yang tersebar di Indonesia.
                    </p>
                </div>
            </div>
            </>
        </li>
        <li class="flex-1 flex gap-16 mb-5">
            <div class="relative hidden lg:block flex-none pr-12 w-48">
                <p class="text-end">
                    Tahun 2017-2019
                </p>
                <span class="absolute top-2 -right-px w-2.5 h-2.5 rounded-full bg-main-900 border border-main-400 z-10 bg-red-400" />
                <span class="absolute top-3 right-[3px] w-0.5 lg:h-52 bg-main-500 z-0 bg-blue-500" />
            </div>
            <div class="flex flex-col gap-4 md:flex-auto md:flex-row md:justify-end md:items-center md:gap-6 lg:flex-auto lg:gap-8 group">
                <div class="w-80 h-44 rounded-lg border-2 overflow-hidden">
                    <img src="~/assets/image/2017.png" class="img-cover" />
                </div>
                <div class="md:w-2/3 2xl:w-2/3">
                    <div class="my-1 flex gap-1.5 items-start md:items-center">
                        <h2 class="md:line-clamp-1">Mengikuti Perkembangan Digital</h2>
                    </div>
                    <p class="text-justify text-gray-500">
                        Guna mengikuti perkembangan digital yang begitu pesat Indogrosir melakukan inovasi guna mempermudah pelayanan akan kebutuhan para mitranya, pada rentang tahun 2017 hingga 2019 Indogrosir meluncurkan e-commerce (toko online) Klikindogrosir.com guna mempermudah para member berbelanja kebutuhan dagangan maupun untuk kebutuhan sehari-hari dalam satu situs.
                    </p>
                </div>
            </div>
            </>
        </li>
        <li class="flex-1 flex gap-16">
            <div class="relative hidden lg:block flex-none pr-12 w-48">
                <p class="text-end">
                    Tahun 2019
                </p>
                <span class="absolute top-2 -right-px w-2.5 h-2.5 rounded-full bg-main-900 border border-main-400 z-10 bg-red-400" />
                <span class="absolute top-3 right-[3px] w-0.5 lg:h-40 bg-main-500 z-0 bg-blue-500" />
            </div>
            <div class="flex flex-col gap-4 md:flex-auto md:flex-row md:justify-end md:items-center md:gap-6 lg:flex-auto lg:gap-8 group">
                <div class="w-80 h-44 rounded-lg border-2 overflow-hidden">
                    <img src="~/assets/image/2019.png" class="img-cover" />
                </div>
                <div class="md:w-2/3 2xl:w-2/3">
                    <div class="my-1 flex gap-1.5 items-start md:items-center">
                        <h2 class="md:line-clamp-1">Launching TMI</h2>
                    </div>
                    <p class="text-justify text-gray-500">
                        Toko Mitra Indogrosir diluncurkan, dimana program ini merupakan wujud peduli Indogrosir dalam mengembangkan UMKM di masyarakat. TMI merupakan program pendampingan yang dilakukan Indogrosir kepada calon wirausaha dalam bentuk toko/warung modern. Dengan dibantu oleh tim project yang berpengalaman, dan produk pilihan dengan harga bersaing. Diharapkan bisa menumbuhkan toko mandiri modern di Indonesia.
                    </p>
                </div>
            </div>
            </>
        </li>
    </ul>
    <h1 class="my-12 text-center">Visi, Budaya & Motto</h1>
    <div class="grid grid-cols-2 gap-5">
        @*visi*@
        <div class="card-visi">
            <h2 class="mb-3 text-2xl">Visi</h2>
            <p class="text-center text-gray-500">
                Menjadi aset nasional dalam jaringan distribusi modern yang unggul dalam persaingan global.
            </p>
        </div>
        @*misi*@
        <div class="card-visi">
            <h2 class="mb-3 text-2xl">Misi</h2>
            <p class="text-center text-gray-500">
                Menjadi jalur distirbusi guna melahirkan dan mengembangkan para wirausaha di bidang retail.
            </p>
        </div>
        @*Budaya perusahaan*@
        <div class="card-visi">
            <h2 class="mb-3 text-2xl">Budaya Perusahaan</h2>
            <p class="text-center text-gray-500">
                Dalam bekerja kami menjunjung tinggi nilai-nilai :
                - Kejujuran, kebenaran dan keadilan
                - Kerja sama team
                - Kemajuan melalui inovasi yang ekonomis
                - Kepuasan pelanggan
            </p>
        </div>
        @*Motto perusahaan*@
        <div class="card-visi">
            <h2 class="mb-3 text-2xl">Motto Perusahaan</h2>
            <p class="text-center text-gray-500">
                “Mitra Usaha Terpercaya”
            </p>
        </div>
    </div>
</div>