@model indogrosir_tim8.Models.Saran

@{
    ViewData["Title"] = "Hubungi Kami";
}

<div class="card shadow fit-screen grid place-items-center">
    <div class="grid grid-cols-2 w-4/6 gap-10">
        <div class="col-span-1 order-2 h-[530px] rounded-xl overflow-hidden">
            <img src="~/assets/image/banner.png" alt="indogrosir" class="img-cover" />
        </div>
        <div class="col-span-1 order-1 pr-10">
            <form asp-action="Create" class="space-y-4">
                <h1>Tulis Pendapatmu</h1>
                <label asp-for="Nama">
                    <span>Nama</span>
                    <input asp-for="Nama" placeholder="Masukkan Nama" class="form-input" required />
                </label>
                <label asp-for="NoHape">
                    <span>No. Hape</span>
                    <input asp-for="NoHape" placeholder="Masukkan Nomor Hape" class="form-input" required />
                </label>
                <label asp-for="Cabang">
                    <span>Cabang Indogrosir</span>
                    <select asp-for="Cabang" placeholder="Pilih wilayah cabang" class="form-input" required>
                        <option value="Pekanbaru">Pekanbaru</option>
                        <option value="Bandung">Bandung</option>
                        <option value="Banjarmasin">Banjarmasin</option>
                        <option value="Kendari">Kendari</option>
                        <option value="Ambon">Ambon</option>
                    </select>
                </label>
                <label asp-for="Pesan">
                    <span>Pesan</span>
                    <textarea asp-for="Pesan" rows="4" placeholder="Tulis Pesan Anda.." class="form-input" required></textarea>
                </label>
                <input type="hidden" asp-for="Tanggal" id="tanggal" required />
                <button type="submit" class="w-full btn-primary">Kirim Pesan</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.querySelector('#tanggal').value = new Date().toLocaleString();
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
