@model indogrosir_tim8.Models.Saran

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Saran</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nama" class="control-label"></label>
                <input asp-for="Nama" class="form-control" />
                <span asp-validation-for="Nama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoHape" class="control-label"></label>
                <input asp-for="NoHape" class="form-control" />
                <span asp-validation-for="NoHape" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cabang" class="control-label"></label>
                <input asp-for="Cabang" class="form-control" />
                <span asp-validation-for="Cabang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesan" class="control-label"></label>
                <input asp-for="Pesan" class="form-control" />
                <span asp-validation-for="Pesan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tanggal" class="control-label"></label>
                <input asp-for="Tanggal" class="form-control" />
                <span asp-validation-for="Tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
